@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
  --color_1: #141854;
  --color_2: #ffdc15;
  --white: #f9f8f7;
  /* 978CCD */
}

body, h1, h2, h3, header, p, body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  color: var(--black);
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: calc(12px + 5vmin);
}

h2 {
  font-size: calc(12px + 2vmin);
  color: #333;
}

h3 {
  font-weight: 600;
  font-size: calc(10px + 1vmin);
  color: var(--black);
}

p {
  font-size: calc(8px + 1vmin);
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: var(--white);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--white);
}


.NavBar-inner {
  display: flex;  
  justify-content: space-between;
  width: 94%;
  padding-bottom: 2.5%;
  padding-top: 2.5%;
}

nav h3 {
  color: var(--color_1);
  font-size: calc(8px + 1vmin)
}

.Menu {
  display: flex;
  justify-content: right;
}

.Menu-item {
  padding-left: 2vw;
}

header {
  text-align: center;
  background-color: var(--color_1);
  width: 100%;
  padding-bottom: 8%;
  padding-top: 12%;
  margin: 0px;
}

header h1 {
  padding-bottom: 2%;
  color: var(--white)
}

header p {
  font-size: calc(6px + 1vmin);
  color: var(--white);
  padding-left: 35%;
  padding-right: 35%;
  font-weight: 700;
}

/* Style for the Translation component container */

/* Style for the textarea */
textarea, .Result {
  width: 90%;
  min-height: 100%;
  padding: 10px;
  font-size: 16px;
  border: None;
  background-color: var(--white);
  border-radius: 4px;
  text-align: left;
  resize: none;
}

textarea:focus, input:focus{
  outline: none;
}

/* Style for the Translate button */
button {
  background-color: var(--color_2);
  color: var(--color_1);
  border: none;
  padding: 10px 30px; /* Increased padding for bigger size */
  font-size: 12px;
  font-weight: 700;
  margin-top: 20px; /* Increased margin-top to create space */
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}


.TranslationBoxes {
  display: flex; /* Use flexbox to arrange items horizontally */
  justify-content: space-between; /* Space items evenly within the container */
}

.Box {
  width: 40vw; /* Set the width of each box */
  height: 40vh; /* Set the height of each box */
  background-color: var(--white); /* Background color of the boxes */
  border: 1px solid #ccc; 
  padding: 10px; /* Add padding to the boxes for spacing */
  box-sizing: border-box; /* Include padding and border in box size */
  margin: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Arrow {
  max-width: 7%;
  margin: -1px;
}

.App-function {
  margin: 8vh;
}

.Footer {
  height: 30vh;
  width: 100%;
  background-color: var(--color_1);
}